
{% extends "base.html" %}
{% block head %} 
<style>
    body{
      min-height:100vh;
width:100%;
background-image: linear-gradient(rgba(1, 17, 24, 0.9), rgba(1, 17, 21, 0.945)),url('C:\Users\Sri\Downloads\FLASK\banner.jpg');
background-position:center;
background-size:cover;
position:relative;
    }
  </style>
{% endblock %}
{% block title %}Customized Recommendations{% endblock %}
{% block content %}
    <section>
        <h1 style="color:rgb(236, 229, 162)">Recommended Shows</h1>
        <div class="show-row">
            {% for show in shows %}
                <div class="show-col">
                    <img src={{show.image}} alt={{show.name}} >
                    <div class="layer">
                        <h3 style="color:bisque">SHOW: {{show.name}} <br>LANGUAGE: {{show.language}}<br>RATING: {{show.rating}}</h3>
                    </div>
                </div>
                {% if n==3 %}
                    <br>
                {% endif %}
                
            {% endfor %}
        </div>
    </section>
{% endblock %}