.nav-link{
    background-color: #0f4a56;
    color: antiquewhite;
}

.nav-item active{
    background-color: #0f4a56;
    color: antiquewhite;

}

.login-content{
min-height:100vh;
width:100%;
background-image:linear-gradient(rgba(3,7,30,0.7), rgba(3,7,20,0.7)),url("C:\Users\Sri\Downloads\FLASK\banner_login.webp");
background-position:center;
background-size:cover;
position:relative;
}

#bg-content{
    min-height:100vh;
    width:100%;
    background-image:linear-gradient(rgba(3,7,30,0.7), rgba(3,7,20,0.7)),url("C:\Users\Sri\Downloads\FLASK\banner_login.webp");
    background-position:center;
    background-size:cover;
    position:relative;
}